/*CSS*/

html {
	background:#709CCC;
}

body {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1A5570), color-stop(100%,#709CCC)); 
}

div#header {
	text-align:center;
}

div#content {
	text-align:center; 
	text-shadow: 1px 1px 0px #999;
	font-size:26px;
	font: Georgia, "Times New Roman", Times, serif;
	min-height: 480px;
}

div#footer {
	text-align:center;
	text-shadow: 1px 1px 0px #999;
	font-size:20px;
	border:1px solid;
	
}

a {
	color:#CDCD00;
}
	