<!DOCTYPE HTML>
<html>
    <head>
        <title>EventeX</title>
        <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/eventex.css" />
    </head>
    <body>

        <div id="header">
            <img src="{{ MEDIA_URL }}img/logo.png" />
        </div>
        <div id="content">
            <h1>Bem-vindo ao EventeX!</h1>
            <p>O evento mais sensacional do ano depois do <a href="http://www.devinrio.com.br/">Dev in Rio</a>!</p>
            <p>Você não pode perder esta oportunidade!</p>
            <p><strong>Abertura das inscrições em 12/02/2011</strong></p>
            <p>Para dúvidas e mais informações entre em contato com <a href="mailto:eventex@eventex.com.br">eventex@eventex.com.br</a></p>
        </div>
        <div id="footer">
            &copy;2010. EventeX, some rights reserved. 
            <a href="http://www.djangoproject.com/">
                <img src="http://media.djangoproject.com/img/badges/djangosite100x25.gif" border="0" alt="A Django site." title="A Django site." />
            </a>
            <p>Desenvolvido por <strong>Marcelo Barroso</strong></p>
        </div>

    </body>
</html>